html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: rgb(97, 112, 122);
  display: flex;
  justify-content: center;
  line-height: 1.2;
  margin: 0;
  min-height: 100vh;
}

.btn {
  background-color: rgb(38, 92, 128);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-right: 1rem;
  padding: 0.7rem 1.5rem;
}

.btn:last-child {
  margin-right: 0;
}
