body {
  margin: 0;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

div.form-control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  font-size: inherit;
  grid-column: span 2;
}

div.link {
  margin-bottom: 1rem;
}

div.alert {
  color: red;
  font-weight: 600;
  margin-block-end: 15px;
  text-align: center;
}
