body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  transition: 0.3s all;
  user-select: none;
}

:root {
  --text: #04395e;
}

.App {
  margin: 30px 0 0 30px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001a;
  overflow: hidden;
}

.top {
  background: var(--text);
  color: #ffffff;
  padding: 10px;
  font-size: 28px;
  margin: 0;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-input {
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--text);
  display: flex;
  padding: 5px;
}

.task-input * {
  border-radius: 5px;
}

.task-input input {
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}

.task-input button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}

.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
}

.task:hover {
  background-color: #04395e3d;
}

.task p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--text);
}

.task-done {
  background-color: #00000027;
}
.task-done p {
  color: #00000050;
}

.action-btn {
  cursor: pointer;
  margin-left: 10px;
}
.action-btn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}
