extends includes/layout.pug

append vars
  - docTitle = "Contact page"
  - docDescription = "This is a contact page"

append content
  img(src="https://images.unsplash.com/photo-1659641926134-d80cb09ba024?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
