<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password protected file sharing</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <% if(locals.fileLink != null) { %>
  <div class="link">
    Your file is uploaded
    <a href="<%= locals.fileLink %>">
      <%= locals.fileLink %>
    </a>
  </div>
  <% } %>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-control">
      <label for="file">File:</label>
      <input type="file" name="file" id="file" required>
    </div>

    <div class="form-control">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>

    <button type="submit">Share</button>
  </form>

</body>

</html>
