<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password protected file sharing</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <% if(locals.error) { %>
  <div class="alert">
    Incorrect Password
  </div>
  <% } %>

  <form method="post">
    <div class="form-control">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
    </div>

    <button type="submit">Download</button>
  </form>
</body>

</html>
