body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.parent {
  border: 1px solid #ddd;
  height: 200px;
  position: relative;
  width: 80%;
}

.init {
  background: #9df;
  color: #457;
  font-weight: 600;
  height: 200px;
  line-height: 200px;
  text-align: center;
  width: 200px;
  user-select: none;
}

.dragTarget {
  padding: 1rem;
}

.dropZone {
  position: absolute;
  right: 0;
  top: 0;
}

/* helper classes (for drag-and-drop states) */

.dragged {
  background: #d82578;
  height: 20px;
  line-height: initial;
  width: 100px;
}

.dropped {
  align-items: center;
  background: #e52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: initial;
}
