<!DOCTYPE html>
<html>

<head>
  <%- include('../blocks/head.ejs'); %>
</head>

<body class="text-2xl">


  <%- include('../blocks/header.ejs', { title: 'about' }); %>

  <main></main>

  <footer>
    <%- include('../blocks/footer.ejs'); %>
  </footer>

</body>

</html>
