<!DOCTYPE html>
<html>

<head>
  <%- include('../blocks/head'); %>
</head>

<body class="text-2xl">

  <%- include('../blocks/header', { title: 'index' }); %>

  <main></main>

  <footer>
    <%- include('../blocks/footer'); %>
  </footer>

</body>

</html>
