<article class="card flex flex-col gap-6 border border-1 p-8">
  <header class="card__header">
    <img src="https://openweathermap.org/img/wn/10d@4x.png" class=""
      alt="Weather description">
  </header>
  <section class="card__body">
    <p class="card-text">High Temp Low Temp</p>
    <p class="card-text">HighFeels like</p>
    <p class="card-text">Pressure</p>
    <p class="card-text">Humidty</p>
    <p class="card-text">UV Index</p>
    <p class="card-text">Precipitation</p>
    <p class="card-text">Dew Point</p>
    <p class="card-text">Wind speed and direction</p>
    <p class="card-text">Sunrise</p>
    <p class="card-text">Sunset</p>
  </section>
  <footer class="card__footer text-center">
    <a href="https://openweathermap.org/current#parameter"
      target="_blank">Weather fields in API response</a>
  </footer>
</article>
