.app-sidenav-container {
  flex: 1;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-sidenav {
  width: 240px;
}
