.App {
  text-align: center;
  padding-top: 1rem;
}

.Form {
  padding: 1rem;
}

input:first-child {
  margin-bottom: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
