{
  "extends": ["wesbos"],
  "plugins": ["html"],
  "settings": {
    "html/html-extensions": [".html"]
  },
  "rules": {
    "no-unused-vars": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120
      }
    ],
    "react/destructuring-assignment": [1],
    "react/prop-types": [1],
    "react/self-closing-comp": [1]
  }
}
