:root {
    font-size: 18px;
}

html, body {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.container {
    align-items: center;
    color: #18183a;
    display: flex;
    justify-content: center;
    height: 100%;
}

.card {
    background-color: #ffeb3b;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    padding: 30px;
    width: 75%;
}

.title {
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
    margin: 0 0 24px;
}

.answer {
}

.marked {
    border-bottom: 2px solid currentColor;
    display: inline-block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.question .marked::after,
.question .marked::before {
    cursor: pointer;
    /* height: 24px; */
    position: absolute;
    right: 0;
    top: -10px;
    width: 24px;
}

.question .marked::after {
    content: url('./assets/icons/bookmark-regular.svg')
}

.question .marked::before {
    content: url('./assets/icons/thumbs-up-regular.svg');
    right: 38px;
    /* height: 32px; */
    width: 30px;
}

.text {
    margin: 0;
}

.text code {
    background: #dac618;
    padding: 0 5px;
}


/* Media queries */
@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .title .signs {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 85%;
    }
}

@media screen and (max-width: 420px) {
    .card {
        padding: 30px 12px;
        width: 100%;
    }
}
