html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

a {
  color: #444;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
}

.btn:hover {
  background-color: #666;
}
