<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen bg-slate-300 flex justify-center items-center font-bold">
  <section class="p-8 bg-slate-200 border border-zinc-400">
    <form action="/" method="POST" class="">
      <div class="flex flex-col mb-2">
        <label for="city" class="text-3xl mb-5 text-center">
          Enter the city
        </label>
        <input type="text" id="city" name="city"
          class="border-2 border-slate-300 p-2 rounded-md focus:outline-none focus:ring focus:ring-slate-300">
      </div>
      <button type="submit"
        class="w-full border border-blue-300 p-1 focus:outline-none focus:ring focus:ring-slate-300 hover:bg-slate-400">Get
        Weather</button>
    </form>
    <output></output>
  </section>
</body>

</html>
