<header class="p-5 bg-teal-700">
  <nav class="flex items-center text-cyan-100">
    <!-- <h1 class="text-center text-3xl my-5">
    <%= title.substr(0, 1).toUpperCase() + title.substr(1) %>
    page
  </h1> -->
    <div class="mr-auto">
      <a href="/" class="logo">Logo</a>
    </div>

    <ul class="flex items-center justify-around gap-6">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/about">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>
