/*** helpers ***/

.break-line {
  display: block;
}

.btn {
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
}

/*** helpers ***/

/*** common ***/

button {
  cursor: pointer;
}

/*** common ***/

/*** Align the primary button to the left edge of the inputs ***/

section {
  font-weight: 600;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}

article {
  display: flex;
  justify-content: space-around;
}

form {
  background-color: rgba(114, 180, 216, 0.2);
  padding: 1rem;
  text-align: left;
  width: 360px;
}

h2 {
  margin-bottom: 3rem;
}

h3 {
  margin: 0 0 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}

.btn-primary {
  background-color: rgba(68, 85, 153, 1);
  color: #fff;
}

.container {
  text-align: center;
}

.main-title {
  margin: 0 0 2rem;
}

.how-to-align-primary-button .wrong {
  text-align: right;
}

.how-to-align-primary-button .wrong .wrapper {
  text-align: left;
}

.form-title {
  position: relative;
  line-height: 1.4;
}

.form-title::before {
  background-color: rgba(68, 85, 153, 1);
  border-radius: 50%;
  color: #df4;
  content: '';
  height: 2rem;
  left: 0;
  line-height: 2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
}

.wrong-title::before {
  content: '\2716';
}

.correct-title::before {
  content: '\2714';
}

/*** Put the back button above the form ***/

.buttons {
  align-items: flex-end;
  display: flex;
}

.buttons .btn-primary {
  margin-right: 1rem;
}

.btn-back {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #999;
  padding: 0.3rem 1rem;
  transition: background-color 0.3s;
}

.btn-back:hover,
.btn-back:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.correct .btn-back {
  margin-bottom: 1.4rem;
}

/*** Put the back button above the form ***/

/*** Put tangentially related actions above the form ***/

.how-to-put-tangentially-related-actions .country-wrapper {
  position: relative;
}

.forgotpswd-link {
  position: absolute;
  right: 0;
  text-decoration: underline;
  top: 0;
}

.correct .forgotpswd-link {
  display: block;
  margin-bottom: 1rem;
  position: static;
}

/*** Put tangentially related actions above the form ***/

/*** media queries ***/

@media (max-width: 768px) {
  article {
    align-items: center;
    flex-direction: column;
  }

  article .wrong {
    margin-bottom: 1.4rem;
  }
}

/*** media queries ***/
