body {
    align-items: center;
    background-color: #d2caf1;
    display: grid;
    font-family: 'Lora', serif;
    justify-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 300px;
    z-index: 5;
}

.inner {
    align-items: center;
    display: flex;
    background: #646de7;
    border-radius: 10px;
    clip-path: inset(0% 0% 0% 95%);
    cursor: pointer;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    width: calc(100% - 2em);
}

.container:hover span {
    left: 75% !important;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    left: 105%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease 0.1s;
    transform: translateY(-50%);
}

.link {
    color:#495057;
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
}

a {
    color: #fff;
    text-decoration: none;
}

section {
    color: #fff;
    margin-right: 1rem;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 0;
}

.solo-profile {
    color: #fff;
    text-decoration: none;
}

.solo-profile:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
}

img {
    border-radius: 5px;
    max-width: 50%;
}

.container:hover::after {
    animation: slideLeft 0.4s ease-in-out;
    z-index: -5;
}

.container:hover .inner {
    clip-path: inset(0% 25% 0% 0%);
}

@-webkit-keyframes slideLeft {
    100% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
    }
}

@keyframes slideLeft {
    100% {
        -webkit-transform: translateX(-300px);
                transform: translateX(-300px);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

