html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 20px 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

button {
  background-color: hsl(200deg 80% 80%);
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:hover {
  background: hsl(200, 100%, 70%);
}

input {
  font-size: inherit;
  padding: 10px 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px;
}

body {
  align-items: center;
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  flex-direction: column;
  margin: 0;
}

.todo {
  margin-block-end: 20px;
  min-width: 500px;
  text-align: center;
}

.todo__title {
  margin-block-end: 20px;
}

.todo__form {
  align-items: stretch;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.todo__input {
  width: 100%;
}

.todo__item {
  align-items: center;
  background-color: hsl(200deg 70% 90%);
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 15px 30px;
}

.todo__item-text {
  margin-inline-end: auto;
}

.todo__item-delete {
  background-color: hsl(330deg 65% 65%);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.todo__item-delete:hover {
  background-color: hsl(330deg 65% 55%);
}
