body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

htmlm body {
  box-sizing: border-box;
}
body {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

button {
  background: rgb(49, 73, 100);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 3px 7px;
  transition: background 0.2s;
}

button:hover {
  background: rgb(82, 59, 151);
}
