html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(117, 93, 93);
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}