.another-angle-scss {
  position: relative;
  background: #679;
  /* Recovery solution */
  background: linear-gradient(-140deg, transparent 2em, #679 0);
  border-radius: .5em; }
  .another-angle-scss::before {
    border-bottom-left-radius: inherit;
    -webkit-box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.2);
            box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.2);
    content: '';
    background: -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(0, rgba(102, 119, 153, 0.2)), to(rgba(102, 119, 153, 0.4))) 100% 0 no-repeat;
    background: linear-gradient(to left bottom, transparent 50%, rgba(102, 119, 153, 0.2) 0, rgba(102, 119, 153, 0.4)) 100% 0 no-repeat;
    height: 2em/sin(40deg);
    right: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(2em/cos(40deg)-2em/sin(40deg)) rotate(-10deg);
            transform: translateY(2em/cos(40deg)-2em/sin(40deg)) rotate(-10deg);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    width: 2em/cos(40deg); }
