/* common styles */
.container {
  border: 1px solid #adf;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 1rem;
}
.block {
  background: #78a;
  justify-self: center;
  height: 200px;
  margin: 1rem;
  width: 200px;
}

/* ---------------------------------------- */

.pseudo-variant {
  position: relative;
}
.pseudo-variant::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 32px 32px 0;
  border-color: #fff #fff #679 #679;
}

/* ---------------------------------------- */

.gradient-variant {
  background: #78a;
  background:
    linear-gradient(to left bottom, transparent 50%, #679 0) no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.4em, #78a 0);
}

/* ---------------------------------------- */

.another-angle {
  background: #78a;
  background:
    linear-gradient(-150deg, transparent 1.4em, #78a 0);
  position: relative;
}

.another-angle::before {
  content: '';
  background:
    linear-gradient(to left bottom, transparent 50%, #679 0) 100% 0 no-repeat;
  border-bottom-left-radius: inherit;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0,0,0,0.15);
  height: 3em;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: right bottom;
  width: 1.73em;
}
