- const language = "en"

- const docTitle = "Learn Pug template engine"

-
  const PATHS = {
    styles: 'styles',
    scripts: 'scripts'
  }

- Bootstrap = true

-
  const GoogleFonts = {
    familyLato: 'Lato',
    familyNunito: 'Nunito',
  }
