- let language = "en"

- let docTitle = "Learn Pug template engine"
- let docDescription = "My site with Pug template engine"

-
  const PATHS = {
    styles: 'styles',
    scripts: 'scripts'
  }

- const Bootstrap = true

-
  const GoogleFonts = {
    familyLato: 'Lato',
    familyNunito: 'Nunito',
  }
