:root {
  --bg_btn: #c7d0d9;
  --bg_btn__hover: #51789e;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.chat__list {
  margin-bottom: 20px;
}

.chat__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.chat__button {
  background: var(--bg_btn, #456);
  border-radius: 10px;
  border: none;
  color: #565272;
  cursor: pointer;
  font-size: inherit;
  padding: 10px 20px;
  transition: background 0.2s ease, color 0.2s ease;
}


.chat__button:hover {
  background: var(--bg_btn__hover);
  color: #d0cde0;
}
