<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form Input Binding</title>
  </head>
  <body>
    <div id="root">
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <p>Selected option: {{ selected }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#root',
        data: {
          selected: 'A',
          options: [
            { text: 'first option', value: 'A' },
            { text: 'second option', value: 'B' },
            { text: 'third option', value: 'C' },
          ],
        },
      });
    </script>
  </body>
</html>
