/* variables */

:root {
  /* colors */
  --color-dark: rgba(27, 27, 27, 0.8);
  --color-white: rgba(226, 212, 212, 0.8);
  --bd-color: rgb(128, 185, 219, 0.5);
  --bg-color: rgba(107, 202, 323, 1);
  /* spacing */
  --letter-spacing1: 1px;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Serif', serif;
  color: var(--color-dark, #000);
  letter-spacing: var(--letter-spacing1);
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 800px;
  padding: 0 0 20px;
  width: 90%;
}

.page-top {
  background-color: var(--bg-color);
  padding: 10px;
  text-align: center;
}

.page-top .search {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-top .search>input {
  border: 1px solid var(--bd-color);
  font-size: 1rem;
  margin-block-end: 10px;
  max-width: 300px;
  padding: 10px;
  width: 90%;
}

.check {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.check label {
  margin-inline-end: 10px;
}

.check input {
  margin: 0;
}


.add-item {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 15px 0;
}

.add-item>input {
  border: 1px solid var(--bd-color);
  font-size: inherit;
  max-width: 350px;
  padding: 10px;
  width: 90%;
}

.add-item>button {
  background-color: var(--bg-color);
  border: 1px solid var(--bd-color);
  color: var(--color-dark);
  cursor: pointer;
  font-size: inherit;
  padding: 10px;
  width: 100px;
}

.grocery-list {
  margin: 2rem;
}

.grocery-list li {
  align-items: center;
  border-left: 2px solid aqua;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.grocery-list li .delete {
  background-color: rgba(209, 32, 32, 1);
  color: var(--color-white);
  cursor: pointer;
  padding: 5px;
}

/* Tabs */

.tab-wrapper {
  padding: 0 2rem;
}

.tab-wrapper ul li:hover {
  background-color: rgb(197, 176, 108);
  color: #fff;
}

.tab-wrapper li {
  background: aqua;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
}

.tab-wrapper li:first-of-type {
  margin-right: 10px;
}

.tab-wrapper .panel {
  border: 1px solid aqua;
  border-radius: 3px;
  display: none;
  padding: 1rem;
}

.tab-wrapper .panel.active {
  display: block;
}

.tab-wrapper .selected {
  background-color: rgba(139, 139, 139, 1);
}

.show-answer {
  background-color: rgba(139, 139, 139, 1);
  border: none;
  color: var(--color-dark);
  padding: 0.5rem;
}

.show {
  background-color: rgba(139, 139, 139, 1);
  border: 1px solid aqua;
  padding: 10px;
  text-align: center;
  width: 150px;
}
